{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<!--============================================== Header =================================================-->

<header>
    <div class="wrapper ">
        <div class="header-wrapper ">
            <div class="header-holder ">
                <div class="header-right-side ">
                    <div class="header-right-side-logo-wrapper ">
                        <a href="{% url 'home' %}"> <img src="{% static 'front/images/bitmap@3x.png' %}"
                                alt="gerb "></a>
                    </div>
                    <div class="header-right-side-name ">
                        <a href="{% url 'home' %}">
                            <p>{% trans 'Bakı Şəhər İcra Hakimiyyəti' %}<br>
                                {% trans '“Lifttəmir” İstehsalat Birliyi' %}</p>
                        </a>
                    </div>
                </div>
                <div class="header-navigation ">
                    <ul>
                        <li>
                            <a href="{% url 'about' %}" class="nav-links">{% trans 'Haqqımızda' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}#structure-section" class="nav-links">{% trans 'Struktur' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'news_list' %}?page=1" class="nav-links">{% trans 'Xəbərlər' %}</a>
                        </li>
                        <li>
                            <a href="#" class="nav-links  active">{% trans 'Əlaqə' %}</a>
                        </li>
                    </ul>
                </div>
                <div class="header-left-side ">
                    <div class="search-and-lang ">
                        <div class="lang ">
                            <div id="myDD">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{LANGUAGE_CODE | upper}}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for language in languages %}
                                    <li>
                                        <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                                            class="nav-link {% if language.code == LANGUAGE_CODE %}selected{% endif %}"
                                            lang="{{ language.code }}">
                                            {{ language.code|upper }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="online-payment ">
                        <a href="#" class="online-payment-btn">{% trans 'Elektron müraciət' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--============================================== Header END=================================================-->

<!--============================================== Mobile Header =================================================-->
<section class="mobile-header">
    <div class="m-header-wrapper">
        <div class="m-logo-holder">
            <div class="m-logo-holder-img ">
                <a href="{% url 'home' %}"> <img src="{% static 'front/images/bitmap@3x.png' %}" alt="gerb "></a>
            </div>
            <div class="m-logo-holder-text ">
                <a href="{% url 'home' %}">
                    <p>{% trans 'Bakı Şəhər İcra Hakimiyyəti' %}<br>
                        {% trans '“Lifttəmir” İstehsalat Birliyi' %}</p>
                </a>
            </div>
        </div>
        <div class="m-dropdown">
            <button class="m-dropdown-btn mdi mdi-menu" onclick="mobileDropdown()"></button>
            <button class="m-dropdown-btn mdi mdi-close m-close"></button>

            <div class="m-dropdown-content" id="myDropdown">
                <ul class="m-ul-first">
                    <li><a href="{% url 'about' %}">{% trans 'Haqqımızda' %}</a></li>
                    <li><a href="{% url 'home' %}#structure-section">{% trans 'Struktur' %}</a></li>
                    <li><a href="{% url 'news_list' %}?page=1">{% trans 'Xəbərlər' %}</a></li>
                    <li><a href="#">{% trans 'Əlaqə' %}</a></li>
                    <li class="li-btn"><a href="#" class="m-form-btn">{% trans 'Elektron müraciət' %}</a></li>
                    <li>
                        <ul class="m-ul-second">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <li>
                                <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                                    class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}"
                                    lang="{{ language.code }}">
                                    {{ language.code|upper }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--============================================== Mobile Header END =================================================-->


<!--============================================== Modal Mobile-form =================================================-->
<div class="modal-bg contact-m" id="mobile-modal">
    <div class="modal-content">
        <a href="{% url 'home' %}" class="mdi mdi-close close-btn"></a>
        <div class="content-wrapper">
            <span class="mdi mdi-check"></span>
            <h1>{% trans 'Müraciətiniz göndərildi' %}</h1>
            <p>{% trans '“Lifftəmir” İstehsalat Birliyinə müraciət etdiyiniz üçün təşəkkür edirik. Sorğunuz uyğun şöbə tərəfindən emal olunacaq və müraciətinizə əsasən yaranan vəziyyətin dəqiqləşdirilməsi və həll olunması məqsədilə zərurət olduğu halda əməkdaşlarımız sizinlə əlaqə saxlayacaq.' %}
            </p>
        </div>
    </div>
</div>
<!--============================================== Modal Mobile-form END=================================================-->



<main class="blur-section mobile-f">
    <!--============================================== Form section =================================================-->

    <section class="contacts">
        <div class="wrapper">
            <div class="contacts-wrapper">
                <h1>{% trans 'Elektron müraciət forması' %}</h1>
                <div class="contacts-form-container">
                    <div class="contacts-form-container-holder">
                        <form method="POST" name="contact-form" id="form-mobile">
                            {% csrf_token %}
                            <div class="f-row">
                                <div class="form-content">
                                    <p>{% trans 'Müraciətinin növünü seçin' %}</p>
                                </div>
                                <div class="form-input">
                                    <ul>
                                        <li id="radiobutton-li"><input type="radio" name="type" id="complaint"
                                                value="şikayət" required="required"
                                                data-valueMissing="*{% trans 'Müraciət növü mütləq seçilməlidir' %}">
                                            <label for="complaint" class="r-button">{% trans 'Şikayət' %}</label>
                                        </li>
                                        <li class="err-not-show">
                                            <input type="radio" name="type" id="suggestion" value="təklif">
                                            <label for="suggestion" class="r-button">{% trans 'Təklif' %}</label>
                                        </li>
                                        <li class="err-not-show"> <input type="radio" name="type" id="petition"
                                                value="ərizə">
                                            <label for="petition" class="petition-label">{% trans 'Ərizə' %}</label>

                                        </li>
                                    </ul>
                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj" id="radio-error">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">{% trans 'Müraciət növü mütləq seçilməlidir' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END -->
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="form-content">
                                    <label
                                        for="structure">{% trans 'Müraciətinizin aid olduğu struktur vahidi' %}</label>
                                </div>
                                <div class="form-input2" id="structureselect">
                                    <i class="mdi mdi-chevron-down"></i>
                                    <select id="structure" name="structure" required="required"
                                        data-valueMissing="*{% trans 'Struktur vahidi mütləq seçilməlidir' %}">
                                        <option value=""></option>
                                        {% for department in department_list %}
                                        <option value='{{department.name}}'>{{department.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj" id="structure-error">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">{% trans 'Struktur vahidi mütləq seçilməlidir' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END -->
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="form-content">
                                    <label for="theme">{% trans 'Müraciətinizin mövzusunu seçin' %}</label>
                                </div>
                                <div class="form-input2" id="themeoftherequest">
                                    <i class="mdi mdi-chevron-down"></i>
                                    <select id="theme" name="theme" required="required" data-validation="required"
                                        data-valueMissing="*{% trans 'Müraciət mövzusu mütləq seçilməlidir' %}">
                                        <option value=""></option>
                                        {% for subject in application_subjects %}
                                        <option value='{{subject.name}}'>{{subject.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj" id="theme-error">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">{% trans 'Müraciət mövzusu mütləq seçilməlidir' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END -->
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="form-content">
                                    <label for="fname" class="t-input-label">{% trans 'Adınız' %}</label><br>
                                    <input type="text" id="fname" name="fname"
                                        placeholder="{% trans 'Adınızı daxil edin' %}" required="required"
                                        data-validation="required"
                                        data-valueMissing="*{% trans 'Adınızı düzgün qeyd edin' %}">
                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj err-centered" id="err-name">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text" id="geeks-name">{% trans 'Adınızı düzgün qeyd edin' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END-->
                                </div>
                                <div class="form-input2">
                                    <label for="fsurname"
                                        class="t-input-label right-label">{% trans 'Soyadınız' %}</label><br>
                                    <input type="text" id="fsurname" name="fsurname"
                                        placeholder="{% trans 'Soyadınızı daxil edin' %}" required="required"
                                        data-validation="required"
                                        data-valueMissing="*{% trans 'Soyadınızı  düzgün qeyd edin' %}">
                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj err-centered" id="error-surname">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">{% trans 'Soyadınızı düzgün qeyd edin' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END-->
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="form-content">
                                    <label for="femail"
                                        class="t-input-label">{% trans 'Elektron poçt ünvanınız' %}</label><br>
                                    <input type="email" id="femail" name="email"
                                        placeholder="{% trans 'E-poçt ünvanınızı daxil edin' %}" required="required"
                                        data-validation="required"
                                        data-valueMissing="*{% trans 'E-poçt ünvanınızı  düzgün qeyd edin' %}">

                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj err-centered" id="error-email">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">{% trans 'E-poçt ünvanınızı düzgün qeyd edin' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END-->
                                </div>
                                <div class="form-input2 number-r">
                                    <i class="mdi mdi-chevron-down number-icon"></i>

                                    <label for="fnumber"
                                        class="t-input-label right-label">{% trans 'Əlaqə nömrəniz' %}</label><br>
                                    <input type="number" placeholder="+994" class="country-code" disabled>
                                    <select name="prefix" id="operator" class="operator" required="required"
                                        data-validation="required"
                                        data-valueMissing="*{% trans 'Mobil operator mütləq seçilməlidir' %}">
                                        <option value=""></option>
                                        <option value="50">50</option>
                                        <option value="51">51</option>
                                        <option value="55">55</option>
                                        <option value="99">99</option>
                                        <option value="70">70</option>
                                        <option value="77">77</option>
                                    </select>
                                    <input type="number" id="fnumber" name="fnumber"
                                    placeholder="{% trans 'Nömrənizi daxil edin' %}" required="required"
                                    data-validation="required"
                                    data-valueMissing="*{% trans 'Əlaqə nömrənizi düzgün qeyd edin' %}"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    minlength="7" maxlength="7">

                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj err-centered" id="error-number">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">{% trans 'Əlaqə nömrənizi düzgün qeyd edin' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END-->
                                </div>
                            </div>
                            <div class="f-row text-area">
                                <div class="form-input" id="textarea-text">
                                    <label for="fmsj"
                                        class="t-input-label">{% trans 'Müraciətinizin tam mətni' %}</label><br>
                                    <textarea name="fmsj" id="fmsj" cols="68" rows="10"
                                        placeholder="{% trans 'Müraciətinizin məzmununu daxil edin' %}"
                                        required="required"
                                        data-valueMissing="*{% trans 'Müraciətinizi tam şəkildə daxil edin' %}"></textarea>
                                    <!-- ERROR MESSAGE -->
                                    <div class="form-content error-msj">
                                        <span class="error-star mdi mdi-asterisk"></span>
                                        <p class="error-text">*{% trans 'Müraciətinizi tam şəkildə daxil edin' %}</p>
                                    </div>
                                    <!-- ERROR MESSAGE END-->

                                </div>
                            </div>
                            <div class="form-submit">
                                <div class="form-content form-submit1">
                                    <p>{% trans 'Davam etmək üçün təsdiqləyin' %}</p>
                                    <script src='https://www.google.com/recaptcha/api.js'></script>
                                    <div class="g-recaptcha" data-sitekey="6Ldhae8UAAAAABD8Ih3YAI9uh-v7F7WbFL-pNIDj"></div>
                                </div>
                                <div class="form-submit2">
                                    <button type=submit class="online-payment-btn"
                                        id="send-btn-mobile">{% trans 'Göndər' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============================================== Form section END=================================================-->

</main>

<!--============================================== Footer=================================================-->

<footer id="footer">
    <div class="sites">
        <div class="wrapper">
            <div class="sites-wrapper">
                <ul>
                    {% for link in footer_links %}
                    <li>
                        <a href="{{link.link_url}}">{{link.link_name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="wrapper">
            <div class="main-footer-1">
                <div class="footer-logo-holder">
                    <div class="footer-logo-wrapper ">
                        <a href="{% url 'home' %}"><img src="{% static 'front/images/bitmap@3x.png' %}" alt="gerb "></a>
                    </div>
                    <div class="footer-logo-name ">
                        <a href="{% url 'home' %}">
                            <p>{% trans 'Bakı Şəhər İcra Hakimiyyəti' %}
                                <br>{% trans '“Lifttəmir” İstehsalat Birliyi' %} </p>
                        </a>
                    </div>
                </div>
                <div class="footer-nav ">
                    <div class="map-of-the-site">
                        <ul>
                            <li class="footer-header">{% trans 'Saytın xəritəsi' %}</li>
                            <li>
                                <a href="{% url 'home' %}#about-section">{% trans 'Haqqımızda' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'home' %}#structure-section">{% trans 'Struktur' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'news_list' %}?page=1">{% trans 'Xəbərlər' %}</a>
                            </li>
                            <li>
                                <a href="#" class="footer-c">{% trans 'Əlaqə' %}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="contact">
                        <ul>
                            <li class="footer-header">{% trans 'Əlaqə nömrəsi' %}</li>
                            <li>
                                <a href="tel:{{contact.tel_1}}">{{contact.phone_number_1}}</a>
                            </li>
                            <li>
                                <a href="tel:{{contact.tel_2}}">{{contact.phone_number_2}}</a>
                            </li>
                            <li class="footer-header fax-h">{% trans 'Faks' %}</li>
                            <li><a href="fax:{{contact.fax}}">{{contact.fax_number}}</a></li>
                        </ul>
                    </div>
                    <div class="adress">
                        <ul>
                            <li class="footer-header">{% trans 'Ünvan' %}</li>
                            <li>

                                <a href="{{contact.address_map_link}}" target="blank">{{contact.address | safe}}</a>
                            </li>
                            <li class="footer-header email-h">{% trans 'Elektron ünvan' %}</li>
                            <li>
                                <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer-btn ">
                    <a href="#" class="online-payment-btn footer-c">{% trans 'Elektron müraciət' %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="border"></div>
    <div class="main-footer-2 ">
        <div class="wrapper">
            <p>2017-2020 © {% trans 'Bütün Hüquqlar Qorunur' %}</p>
        </div>

    </div>

</footer>
<!--============================================== Footer END=================================================-->




{% endblock %}